@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-bacground: #f7f7f7;
  --color-primary: #6b1316;
  --color-secondary: #daa520;
  --color-third: #e73700;

  --color-extra: #e9e9e9;
  --color-overlay: rgba(10, 26, 47, 0.5);

  --color-textColorThick: #333333;
  --color-textColorLight: #cccccc;

  --font-fontOne: "Urbanist", sans-serif;
  --font-fontTwo: "Roboto", sans-serif;
}

@layer base {
  body {
    @apply bg-bacground text-textColorThick font-fontTwo;
  }

  p {
    @apply text-xl md:text-lg lg:text-xl leading-relaxed;
  }

  .nav_link {
    @apply text-lg capitalize relative tracking-wider p-2 before:w-0 before:h-0.5 before:rounded before:absolute before:bottom-0 before:left-0 before:transition-all before:duration-300 before:bg-white hover:before:w-full;
  }

  .swiper_slide {
    @apply h-full w-full bg-gray-400 bg-cover bg-center relative;
  }

  .swiper_content {
    @apply h-full w-full flex flex-col justify-center items-center text-center;
  }

  .swiper_content h1 {
    @apply font-fontOne text-2xl sm:text-3xl md:text-4xl font-bold mb-4 leading-tight;
  }

  .swiper_content p {
    @apply text-base sm:text-lg md:text-xl mb-6 leading-relaxed;
  }

  .swiper_content button {
    @apply bg-yellow-600 hover:bg-yellow-700 text-white px-5 py-3 sm:px-6 sm:py-3 rounded-lg text-sm sm:text-base md:text-lg;
  }

  .section {
    @apply px-5 md:px-20 py-10 md:py-20;
  }

  .section_title {
    @apply capitalize font-fontOne text-center pb-2 mb-5 font-bold text-3xl md:text-4xl lg:text-5xl relative  before:absolute before:content-[''] before:w-10 before:h-1 before:bg-third before:bottom-0 before:left-1/2 before:-translate-x-1/2;
  }
}
